<form action="/cars" method="post" role="form">

	 <input name="car[year]" type="text" value="<%= @car.year %>">

	 <input name="car[make]" type="text" value="<%= @car.make %>">

	 <input name="car[model]" type="text" value="<%= @car.model %>">

	 <button type="submit">Submit</button>

</form>
