<div align="center">
	<h1>Welcome to the ///MaintenanceMgr app</h1><br />
	<h3><strong>Login or <a href="/signup">Sign up</a></strong></h3>
	<form action="/login" method="POST">
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username">
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
		</div>
		<input type="submit" value="Login">
	</form>
</div>