<div align="center"><h2>Create a new account</h2></div>

<div align="center">
	<form action="/signup" method="POST">
		<label for="username">Username:</label>
		<input type="text" name="username" id="username">
		<label for="password">Password:</label>
		<input type="password" name="password" id="password">
		<input type="submit" value="Submit">
	</form>
</div>