<div align="center"><h1><strong>Add a new car</strong></h1></div>

<form action="/cars" method="post" role="form">

	<div class="form-group">
		<div class="col-4">
			<label for="year">Year:</label>
			<input name="car[year]" class="form-control" id="year" type="text" value="<%= @car.year %>">
		</div>
	</div>

	<div class="form-group">
		<div class="col-4">
			<label for="make">Make:</label>
		 	<input name="car[make]" class="form-control" id="make" type="text" value="<%= @car.make %>">
		</div>
	</div>

	<div class="form-group">
		<div class="col-4">
		 	<label for="model">Model:</label>
			<input name="car[model]" class="form-control" id="model" type="text" value="<%= @car.model %>">
		</div>
	</div>

	 <button type="submit" class="btn btn-primary">Submit</button>

</form>
